@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html {
  border: 8px solid #230903;
  min-height: 150%;
}

body {
  background-color: #230903;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  min-height: 100vh;
  place-items: center;
}


/* Titulos */

.titulo-1{
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-shadow: #000;
  color: #fff;
}


.titulo-2{
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-shadow: #000;
  color: #E9B44C;
}



/* Imagenes */
.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider-track {
  display: flex;
  width: calc(250 * 18);
  animation: scroll 25s linear infinite;
}

.slider-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

img {
  width: 100%;
  transition: transform 1s;
  border-radius: 10px;
}

img:hover {
  transform: translateZ(20px);
}
/* Slider */ 

.slider-1 {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.slider-1 ul{
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 20s infinite alternate;
  animation-timing-function: ease-in;
}

.slider-1 li {
  width: 100%;
  list-style: none;
}
.slider-1 img {
  width: 100%;
}

@keyframes cambio {
   0% { margin-left: 0;}
   20% { margin-left: 0;}

   
   25%{margin-left: -100%;}s
   45%{margin-left: -100%;}

   50%{margin-left: -200%;}
   70%{margin-left: -200%;}

   75%{margin-left: -300%;}
   100%{margin-left: -300%;}
}